html,
body,
#root {
  height: 100%;
}
.nav-item .fas {
  font-size: 1.8rem;
}

.react-contextmenu {
  z-index: 999;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 3px;
  overflow: hidden;
}

.react-contextmenu-item {
  padding: 5px 20px;
  cursor: pointer;
}
.react-contextmenu-item--selected {
  background: #f3f3f3;
}

.react-contextmenu-item--divider {
  background: #eee;
  padding: 1px 0 0 0;
}
