.file-navigation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 38px;
}

.file-navigation-bar .btn-group {
  display: flex;
  flex: 1;
}

.file-navigation-bar .btn-group .btn {
  flex: 1;
}
