.assignedTags{
  margin: 10px;
}
.tagsTable{
  width:900px;
}
.Tag{
  padding: 10px;
  margin: 3px;
}
.tagColorBox
{
  height:10px;
  width:15px;
  margin-right: 10px;

}
.tagNameHeading
{
  align-content: flex-start;
  padding: 3px;
  cursor: pointer;
  font-size: 15px;

}
.tagActive{
  background-color: black;
  color: white;
}
.tagDesc{
  font-size: 12px;
  color: grey
}
.file-item {
  font-size: 0.9rem;
  min-width: 130px;
  width: 23.5%;
  cursor: pointer;
  position: relative;
  border: 1px solid #e6e8eb;
  border-radius: 4px;
  overflow: hidden;
  min-height: 50px;
}

.file-item.active {
}
.file-item:hover {
  border-color: #a9cbff;
}
.file-item--drive-icon {
  color: #ddd;
}
.file-item--drive-icon:hover {
  color: #02b3e4;
}

.file-item--icon img {
  width: 32px;
}
.file-item--title {
  font-weight: 600;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.file-item--size {
  font-size: 0.8rem;
}


